@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

* {
    font-family: 'Pretendard';
}

button {
    padding: 10px 15px;
    background-color: rgb(0, 90, 255);
    color: white;
    border: 0px;
    border-radius: 7.5px;
    cursor: pointer;

    transition: background-color 0.1s;
}
button:hover {
    background-color: rgb(0, 70, 255);
}